/* Popup Container */
.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.164);
}

/* Popup Content */
.popup-content {
    background: rgb(132,52,255);
    background: linear-gradient(90deg, rgba(132,52,255,0.08) 0%, rgba(97,147,241,0.09) 58%, rgba(106,230,255,0.10) 100%);
    margin: 25% auto; /* Increased margin to push down content */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Close Button */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

/* Navigation Buttons */
.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
